/* grid-gap:grid-row-gap grid-column-gap  */
body{
    text-align: center;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.gab{
display: grid ;
grid-auto-rows:minmax(200px,auto) ;
    grid-template-columns:repeat(3,33%);

    /* grid-column-gap: 10px;
    grid-row-gap: 10px; */
grid-gab:10px
}
.gab >.item{
    padding: 30px;
    background-color: aqua;
    color: red;
    margin:5px 0;
}
