/*  grid-column:grid-column-start/grid-column-end  */
body{
    text-align: center;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.linescol{
display: grid ;

grid-auto-rows:minmax(200px,auto) ;
    grid-template-columns:repeat(4,25%);

grid-gap: 10px 20px;

}
.linescol >.item{
    padding: 30px;
    background-color: aqua;
    color: red;
    margin:5px 0;
}
 .item1{
     /*grid-column-start:1;*/
     /*grid-column-end: 3;*/
     grid-column:1/3;
 }
 .item6{
    /*grid-column-start:4;*/
    /*grid-column-end: 5;*/
     grid-column:4/5;
}
.item5{
    /*grid-column-start:2;*/
    /*grid-column-end: 4;*/
    grid-column:2/4;
}
.item11{
    /*grid-column-start:1;*/
    /*grid-column-end: 5;*/
    grid-column:1/5;

}